* {
  margin: 0;
  transition: all 0.1s ease-in;
}

.wrapper {
  margin: 2%;
  height: 600px;
  background-color: #3b3f45;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #4a4f56;
  text-align: center;
  height: 15%;
  color: #eb7e7f;
}

h1 {
  padding: 10px 0 0;
}

h3 {
  font-weight: 300;
  color: #eb7e7f;
  text-align: center;
}

.form_container {
  margin: 40px 200px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  color: white;
  font-size: 21px;
  font-weight: 200;
  background-color: #7a7593;
  padding: 10px 0 10px 2%;
}

li [type] {
  transform: scale(1.5);
}

label {
  padding-left: 1%;
}

li:nth-child(odd) {
  background-color: #88839e;
}

li:hover {
  border: white;
  border-style: solid none;
  padding: 5px 0 5px 2%;
  background-color: #625e77;
}

input:checked + label {
  text-decoration: line-through;
  color: #a3a0b5;
}

footer {
  height: 70px;
  margin: 40px 200px;
  background-color: #4a4f56;
}

footer h3 {
  padding: 20px;
  font-size: 22px;
}

span {
  color: #b7b3b2;
  font-size: 14px;
}

a {
  color: white;
  text-decoration: none;
}

a:active {
  color: aqua;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  vertical-align: -5px;
  width: 25px;
  height: 25px;
  background: url(../img/checkbox.png) no-repeat;
  padding-right: 10px;
}

input[type="checkbox"]:checked + label:before {
  background-position: 0 -25px;
  padding-right: 10px;
}
