* {
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in;
}

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0%;
  box-sizing: border-box;
  border: solid 15px #2b81ac;
  background-color: #3399cc;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

span {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  font-size: 25px;
  margin: 2% 20%;
}

h1 > i {
  margin-left: 10px;
}

ul li {
  display: inline-block;
}

ul {
  position: fixed;
  left: 20%;
  width: 60%;
  height: 70%;
  border: solid 2px white;
  background-color: white;
}

li {
  width: 25%;
  height: 25%;
  border: solid 2px white;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

.content {
  position: relative;
  top: 20px;
}

li:hover {
  opacity: 50%;
}

#lisbon {
  width: 50%;
  background-color: #3399cc;
}

#Paris {
  background-color: #33cccc;
}
#Belgrade {
  background-color: #996699;
}

#Moscow {
  background-color: #c24747;
}

#TelAviv {
  background-color: #e2674a;
}

#Cair {
  background-color: #ffcc66;
}

#NewYork {
  background-color: #99cc99;
}

#NewDelhi {
  background-color: #669999;
}

#SanFrancisco {
  width: 50%;
  background-color: #cc6699;
}

#Tokyo {
  background-color: #339966;
}

#Sydney {
  width: 100%;
  background-color: #666699;
}

h2 {
  position: fixed;
  font-size: 15px;
  left: 20%;
  bottom: 7%;
}
