* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #b07cf7;
}

header{
    box-sizing: border-box;
    margin: 40px auto 0;
    text-align: center;
    width: 580px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: white;
}

h1 {
    font-size: 80px;
}

p {
    margin-top: 30px;
    font-size: 17px;
}

section { 
    position: absolute;  
    font-size: 0;     
    left: 12%;
    margin-top: -20px;
        
}

.content {
    display: inline-block;
    box-sizing: border-box;
    width: 300px; 
    margin-left: 30px;    
}

img {
    position: relative;
    width: 100%;  
      
}


.date {    
    z-index: 1;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: black;
    opacity: 60%;
    font-size: 20px;
    top: 80px;
    left: 25px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
    text-align: center;
   
     
}

.date span {
    font-size: 32px;
}

.text {
    position: relative;
    font-size: 15px;
    width: 270px;
    color: white;
    bottom: 90px;
    left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400px;
}

.copiright {
    position: relative;
    font-size: 13px;
    width: 270px;
    color: white;
    bottom: 70px;
    left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400px;
}
