.container__item:nth-child(1)::before {
    content: '';
    display: block;
    background-image: url(../img/mask1.png) cover;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
}

.container__item:nth-child(1)::after {
    content: '';
    display: block;
    background-image: url(../img/mask2.png) cover;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
}